.welcome-to-page {
    background-image: url(../../assets/images/Abstract_Design_3.svg);
    background-repeat: no-repeat;
    background-position: right top;
  width: fit-content;
  margin: 0 auto;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem 1rem 0;
  border-radius: 20px;
  background-color: #1c1c1c;

  .welcome-image {
    width: 100%;
    max-width: 600px;
    overflow: hidden;
    border-radius: 16px;
  }

  .image {
    width: 100%;
    height: auto;
    object-fit: cover;
  }

  .welcome-content {
    text-align: center;
    color: #fff;
    padding: 1.75rem;
    background-color: #1a1a1a;
    border-radius: 20px;
    box-shadow: 0 4px 8px #1c1c1c;
    max-width: 600px;
    transform: translateY(-2rem);
  }
}

@media (min-width: 940px) {
  .welcome-to-page {
    padding: 2.5rem;
    flex-direction: row;
    justify-content: end; /* На комп'ютерах розташування зображення ліворуч */

    .welcome-image {
      flex: 1;
      max-width: 60%;
    }

    .welcome-content {
      position: absolute;
      transform: translateY(0);
      top: 2.5rem;
      left: 2.5rem;
      flex: 2;
      text-align: left; /* Текст вирівняно вліво */
      margin-left: 1rem;
    }
  }
}
